@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll {
    animation: scroll-left 15s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}
